/* CSS Document */


.col-xs-2 h7{ color:#FBF9FC !important;}
body{ color:#fff !important;}

.contacts-5 .map { height:230px !important;}

.header-6-sub { padding-top:115px !important; padding-bottom:115px !important;}

.olvide_pwd-left p, .olvide_pwd-right p {
	font-size:12px !important;
}