        <meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <link rel="shortcut icon" href="/resources/flat-ui/images/favicon.ico" /> 
        <link rel="stylesheet" type="text/css" href="/resources/css/animations.css" />
        <link rel="stylesheet" type="text/css" href="/resources/css/style.css" />
        <link rel="stylesheet" type="text/css" href="/resources/flat-ui/bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="/resources/flat-ui/css/flat-ui.css" />
        <link rel="stylesheet" type="text/css"href="/resources/css/icon-font.css" /> 
        
        <!--[if lt IE 9]>
			<link rel="stylesheet" type="text/css" href="/resources/css/ie.css" />
		<![endif]-->
